<div style="width: 24rem;">
  <%= render 'layouts/flash_messages' %>
</div>
<% if @stock %>
  <div class="card form-group" style="width: 24rem;">
    <div class="card-header">
      <strong><%= @stock.name %></strong> <small>(<%= @stock.ticker %>)</small>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @stock.last_price %> USD</h5>
      <% if current_user.under_stock_limit? && current_user.can_track_stock?(@stock.ticker) %>
        <%= link_to 'add to portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker), method: :post, class: "btn btn-sm btn-primary" %>
      <% else %>
        <span class="badge badge-secondary">
          You are already tracking
          <% if !current_user.under_stock_limit? %>
            10 stocks
          <% elsif !current_user.can_track_stock?(@stock.ticker)%>
            this stock
          <% end %>
        </span>
      <% end %>
    </div>
  </div>
<% elsif @users %>
    <div class="list-group mb-3" style="width: 24rem;">
      <% @users.each do |user| %>
        <% if current_user.can_add_friend?(user) %>
          <%= link_to friendships_path(user: current_user, friend: user), method: :post, class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center on-hover-container" do %>
            <%= user.full_name %>
            <span class="badge badge-primary badge-pill on-hover">Add as friend</span>
          <% end %>
        <% end %>
      <% end %>
    </div>
<% end %>