<div style="width: 24rem;">
  <%= render 'layouts/flash_messages' %>
</div>
<% if @stock %>
  <div class="card form-group" style="width: 24rem;">
    <div class="card-header">
      <strong><%= @stock.name %></strong> <small>(<%= @stock.ticker %>)</small>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= number_with_delimiter @stock.last_price, locale: :de %> USD</h5>
      <% if current_user.under_stock_limit? && current_user.can_track_stock?(@stock.ticker) %>
        <%= link_to 'add to portfolio', user_stocks_path(ticker: @stock.ticker), method: :post, class: "btn btn-sm btn-primary" %>
      <% else %>
        <span class="badge badge-secondary">
          You are already tracking
          <% if !current_user.under_stock_limit? %>
            10 stocks
          <% elsif !current_user.can_track_stock?(@stock.ticker)%>
            this stock
          <% end %>
        </span>
      <% end %>
    </div>
  </div>
<% elsif @users %>
    <ul class="list-group mb-3" style="width: 24rem;">
      <% @users.each do |user| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= link_to user.full_name, user_path(user) %>
          <% if current_user.can_add_friend?(user) %>
            <%= link_to "Follow friend", friendships_path(friend: user), method: :post, class: "btn btn-sm btn-primary" %>
          <% else %>
            <span class="badge badge-secondary badge-pill">Already friend</span>
          <% end %>
        </li>
      <% end %>
    </ul>
<% end %>